<p id="notice"><%= notice %></p>

<h1>Listing Committee Types</h1>

<table>
  <thead>
    <tr>
      <th>Committeetype</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @committee_types.each do |committee_type| %>
      <tr>
        <td><%= committee_type.committeetype %></td>
        <td><%= link_to 'Show', committee_type %></td>
        <td><%= link_to 'Edit', edit_committee_type_path(committee_type) %></td>
        <td><%= link_to 'Destroy', committee_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Committee type', new_committee_type_path %>
