<p id="notice"><%= notice %></p>

<h1>Listing Travels</h1>

<table>
  <thead>
    <tr>
      <th>Campaign finance info</th>
      <th>Travel schedule</th>
      <th>Travelbegin</th>
      <th>Travelend</th>
      <th>Departureloc</th>
      <th>Destinationloc</th>
      <th>Transportation</th>
      <th>Purpose</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travels.each do |travel| %>
      <tr>
        <td><%= travel.campaign_finance_info_id %></td>
        <td><%= travel.travel_schedule_id %></td>
        <td><%= travel.travelbegin %></td>
        <td><%= travel.travelend %></td>
        <td><%= travel.departureloc %></td>
        <td><%= travel.destinationloc %></td>
        <td><%= travel.transportation %></td>
        <td><%= travel.purpose %></td>
        <td><%= link_to 'Show', travel %></td>
        <td><%= link_to 'Edit', edit_travel_path(travel) %></td>
        <td><%= link_to 'Destroy', travel, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel', new_travel_path %>
