<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign finance info:</strong>
  <%= @travel.campaign_finance_info_id %>
</p>

<p>
  <strong>Travel schedule:</strong>
  <%= @travel.travel_schedule_id %>
</p>

<p>
  <strong>Travelbegin:</strong>
  <%= @travel.travelbegin %>
</p>

<p>
  <strong>Travelend:</strong>
  <%= @travel.travelend %>
</p>

<p>
  <strong>Departureloc:</strong>
  <%= @travel.departureloc %>
</p>

<p>
  <strong>Destinationloc:</strong>
  <%= @travel.destinationloc %>
</p>

<p>
  <strong>Transportation:</strong>
  <%= @travel.transportation %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @travel.purpose %>
</p>

<%= link_to 'Edit', edit_travel_path(@travel) %> |
<%= link_to 'Back', travels_path %>
