<p id="notice"><%= notice %></p>

<h1>Listing Entities</h1>

<table>
  <thead>
    <tr>
      <th>Entity type</th>
      <th>Prefix</th>
      <th>Address</th>
      <th>Firstname</th>
      <th>Mi</th>
      <th>Lastname</th>
      <th>Suffix</th>
      <th>Occupationtitle</th>
      <th>Employer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entities.each do |entity| %>
      <tr>
        <td><%= entity.entity_type_id %></td>
        <td><%= entity.prefix_id %></td>
        <td><%= entity.address_id %></td>
        <td><%= entity.firstname %></td>
        <td><%= entity.mi %></td>
        <td><%= entity.lastname %></td>
        <td><%= entity.suffix %></td>
        <td><%= entity.occupationtitle %></td>
        <td><%= entity.employer %></td>
        <td><%= link_to 'Show', entity %></td>
        <td><%= link_to 'Edit', edit_entity_path(entity) %></td>
        <td><%= link_to 'Destroy', entity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entity', new_entity_path %>
