<p id="notice"><%= notice %></p>

<p>
  <strong>Entity type:</strong>
  <%= @entity.entity_type_id %>
</p>

<p>
  <strong>Prefix:</strong>
  <%= @entity.prefix_id %>
</p>

<p>
  <strong>Address:</strong>
  <%= @entity.address_id %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @entity.firstname %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @entity.mi %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @entity.lastname %>
</p>

<p>
  <strong>Suffix:</strong>
  <%= @entity.suffix %>
</p>

<p>
  <strong>Occupationtitle:</strong>
  <%= @entity.occupationtitle %>
</p>

<p>
  <strong>Employer:</strong>
  <%= @entity.employer %>
</p>

<%= link_to 'Edit', edit_entity_path(@entity) %> |
<%= link_to 'Back', entities_path %>
