<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>accordion demo</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/smoothness/jquery-ui.css">
  <script src="//code.jquery.com/jquery-1.12.4.js"></script>
  <script src="//code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
</head>
<body>

<div id="accordion">
  <h3>General Campaign Information</h3>
  <div>
    <%= form_for(@campaign_finance_info) do |f| %>
        <% if @campaign_finance_info.errors.any? %>
            <div id="error_explanation">
              <h2><%= pluralize(@campaign_finance_info.errors.count, "error") %> prohibited this campaign_finance_info from being saved:</h2>

              <ul>
                <% @campaign_finance_info.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
              </ul>
            </div>
        <% end %>

        <div class="field">
          <%= f.label :filer_id %><br>
          <%= f.collection_select :filer_id, Filer.all, :id, :firstname %>
        </div>
        <div class="field">
          <%= f.label :report_type_id %><br>
          <%= f.collection_select :report_type_id, ReportType.all, :id, :rtype %>
        </div>
        <div class="field">
          <%= f.label :candidate_id %><br>
          <%= f.number_field :candidate_id %>
        </div>
        <div class="field">
          <%= f.label :treasurer_id %><br>
          <%= f.number_field :treasurer_id %>
        </div>
        <div class="field">
          <%= f.label :election_type_id %><br>
          <%= f.collection_select :election_type_id, ElectionType.all, :id, :ectype %>
        </div>
        <div class="field">
          <%= f.label :submitdate %><br>
          <%= f.date_select :submitdate %>
        </div>
        <div class="field">
          <%= f.label :filename %><br>
          <%= f.text_field :filename %>
        </div>
        <div class="field">
          <%= f.label :campaignyear %><br>
          <%= f.text_field :campaignyear %>
        </div>
        <div class="field">
          <%= f.label :ontime %><br>
          <%= f.check_box :ontime %>
        </div>
        <div class="field">
          <%= f.label :periodbegin %><br>
          <%= f.date_select :periodbegin %>
        </div>
        <div class="field">
          <%= f.label :periodend %><br>
          <%= f.date_select :periodend %>
        </div>
        <div class="field">
          <%= f.label :electiondate %><br>
          <%= f.date_select :electiondate %>
        </div>




        </div>
        <h3>Notice from Committees</h3>
        <div>
          <p>Sed non urna. Phasellus eu ligula. Vestibulum sit amet purus.
            Vivamus hendrerit, dolor aliquet laoreet, mauris turpis velit,
            faucibus interdum tellus libero ac justo.</p>
        </div>
        <h3>Contributions</h3>
        <div>
          <div class="field">
            <%= f.label :contributioncheck, 'Not Applicable' %><br>
            <%= f.check_box :contributioncheck %>
          </div>
          <p>(By checking the box, you are indicating that you are intentionally leaving this form blank.)</p>
          <div id="Contributions">
            <%= f.fields_for :contributions do |contribution| %>
                <%= render 'contribution_fields', f: contribution %>
            <% end %>
            <div class="links">
              <%= link_to_add_association "Add Contribution", f,:contributions %>
            </div>
          </div></br>
        </div>
        <h3>Expenditures</h3>
        <div>
          <p>Sed non urna. Phasellus eu ligula. Vestibulum sit amet purus.
            Vivamus hendrerit, dolor aliquet laoreet, mauris turpis velit,
            faucibus interdum tellus libero ac justo.</p>
        </div>
        <h3>Loans</h3>
        <div>
          <p>Sed non urna. Phasellus eu ligula. Vestibulum sit amet purus.
            Vivamus hendrerit, dolor aliquet laoreet, mauris turpis velit,
            faucibus interdum tellus libero ac justo.</p>
        </div>
        <h3>Payment From Political Contribution to a Business of C/OH</h3>
        <div>
          <p>Sed non urna. Phasellus eu ligula. Vestibulum sit amet purus.
            Vivamus hendrerit, dolor aliquet laoreet, mauris turpis velit,
            faucibus interdum tellus libero ac justo.</p>
        </div>
        <h3>Interest Earned, Other Credits/Gains/Refunds, And Purchase of Investments</h3>
        <div>
          <p>Sed non urna. Phasellus eu ligula. Vestibulum sit amet purus.
            Vivamus hendrerit, dolor aliquet laoreet, mauris turpis velit,
            faucibus interdum tellus libero ac justo.</p>
        </div>
        <h3>Travel</h3>
        <div>
          <p>Sed non urna. Phasellus eu ligula. Vestibulum sit amet purus.
            Vivamus hendrerit, dolor aliquet laoreet, mauris turpis velit,
            faucibus interdum tellus libero ac justo.</p>
        </div>
        <h3>Section 3</h3>
        <div>
          <h1>New Entity Type</h1>


          <ul>
            <li>List item one</li>
            <li>List item two</li>
            <li>List item three</li>
          </ul>
        </div>
        </div>

        <script>
          $( "#accordion" ).accordion();
        </script>

        </body>
        </html><br>
        <div class="actions">
          <%= f.submit %>
        </div>
    <% end %>