<div class="nested-fields">
  <div class="field">
    <%= f.label :entity_type_id %><br>
    <%= f.collection_select :entity_type_id, EntityType.all, :id, :entype %>
  </div>
  <div class="field">
    <%= f.label :prefix_id %><br>
    <%= f.collection_select :prefix_id, Prefix.all, :id, :prefix %>
  </div>
  <div id="Address">
    <%= f.fields_for :addresses do |address| %>
        <%= render 'address_fields', f: address %>
    <% end %>
  </div></br>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :mi %><br>
    <%= f.text_field :mi %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :suffix %><br>
    <%= f.text_field :suffix %>
  </div>
  <div class="field">
    <%= f.label :occupationtitle %><br>
    <%= f.text_field :occupationtitle %>
  </div>
  <div class="field">
    <%= f.label :employer %><br>
    <%= f.text_field :employer %>
  </div>
</div>