<div class="nested-fields">
  <div class="field">
    <%= f.label :campaign_finance_info_id %><br>
    <%= f.number_field :campaign_finance_info_id %>
  </div>
  <div id="Entity">
    <%= f.fields_for :entities do |entity| %>
        <%= render 'entity_fields', f: entity %>
    <% end %>
  </div></br>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :isfinancialinstitution %><br>
    <%= f.check_box :isfinancialinstitution %>
  </div>
  <div class="field">
    <%= f.label :isoutofstatepac %><br>
    <%= f.check_box :isoutofstatepac %>
  </div>
  <div class="field">
    <%= f.label :pacid %><br>
    <%= f.text_field :pacid %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :interestrate %><br>
    <%= f.text_field :interestrate %>
  </div>
  <div class="field">
    <%= f.label :maturitydate %><br>
    <%= f.date_select :maturitydate %>
  </div>
  <div class="field">
    <%= f.label :collateraldescription %><br>
    <%= f.text_area :collateraldescription %>
  </div>
  <div class="field">
    <%= f.label :ispersonalfunddeposit %><br>
    <%= f.check_box :ispersonalfunddeposit %>
  </div>
  </div>