<p id="notice"><%= notice %></p>

<h1>Listing Campaign Finance Infos</h1>

<table>
  <thead>
    <tr>
      <th>Filer</th>
      <th>Report type</th>
      <th>Candidate</th>
      <th>Treasurer</th>
      <th>Election type</th>
      <th>Submitdate</th>
      <th>Filename</th>
      <th>Campaignyear</th>
      <th>Ontime</th>
      <th>Periodbegin</th>
      <th>Periodend</th>
      <th>Electiondate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @campaign_finance_infos.each do |campaign_finance_info| %>
      <tr>
        <td><%= campaign_finance_info.filer_id %></td>
        <td><%= campaign_finance_info.report_type_id %></td>
        <td><%= campaign_finance_info.candidate_id %></td>
        <td><%= campaign_finance_info.treasurer_id %></td>
        <td><%= campaign_finance_info.election_type_id %></td>
        <td><%= campaign_finance_info.submitdate %></td>
        <td><%= campaign_finance_info.filename %></td>
        <td><%= campaign_finance_info.campaignyear %></td>
        <td><%= campaign_finance_info.ontime %></td>
        <td><%= campaign_finance_info.periodbegin %></td>
        <td><%= campaign_finance_info.periodend %></td>
        <td><%= campaign_finance_info.electiondate %></td>
        <td><%= link_to 'Show', campaign_finance_info %></td>
        <td><%= link_to 'Edit', edit_campaign_finance_info_path(campaign_finance_info) %></td>
        <td><%= link_to 'Destroy', campaign_finance_info, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Campaign finance info', new_campaign_finance_info_path %>
