<p id="notice"><%= notice %></p>

<p>
  <strong>Filer:</strong>
  <%= @campaign_finance_info.filer_id %>
</p>

<p>
  <strong>Report type:</strong>
  <%= @campaign_finance_info.report_type_id %>
</p>

<p>
  <strong>Candidate:</strong>
  <%= @campaign_finance_info.candidate_id %>
</p>

<p>
  <strong>Treasurer:</strong>
  <%= @campaign_finance_info.treasurer_id %>
</p>

<p>
  <strong>Election type:</strong>
  <%= @campaign_finance_info.election_type_id %>
</p>

<p>
  <strong>Submitdate:</strong>
  <%= @campaign_finance_info.submitdate %>
</p>

<p>
  <strong>Filename:</strong>
  <%= @campaign_finance_info.filename %>
</p>

<p>
  <strong>Campaignyear:</strong>
  <%= @campaign_finance_info.campaignyear %>
</p>

<p>
  <strong>Ontime:</strong>
  <%= @campaign_finance_info.ontime %>
</p>

<p>
  <strong>Periodbegin:</strong>
  <%= @campaign_finance_info.periodbegin %>
</p>

<p>
  <strong>Periodend:</strong>
  <%= @campaign_finance_info.periodend %>
</p>

<p>
  <strong>Electiondate:</strong>
  <%= @campaign_finance_info.electiondate %>
</p>

<%= link_to 'Edit', edit_campaign_finance_info_path(@campaign_finance_info) %> |
<%= link_to 'Back', campaign_finance_infos_path %>
