<%= form_for(@candidate) do |f| %>
  <% if @candidate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@candidate.errors.count, "error") %> prohibited this candidate from being saved:</h2>

      <ul>
      <% @candidate.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :filer_id %><br>
    <%= f.number_field :filer_id %>
  </div>
  <div class="field">
    <%= f.label :prefix_id %><br>
    <%= f.collection_select :prefix_id, Prefix.all, :id, :prefix%>
  </div>
  <div class="field">
    <%= f.label :office_held_id %><br>
    <%= f.collection_select :office_held_id, OfficeHeld.all, :id, :category %>
  </div>
  <div class="field">
    <%= f.label :office_sought_id %><br>
    <%= f.collection_select :office_sought_id, OfficeSought.all, :id, :category %>
  </div>
  <div class="field">
    <%= f.label :address_id %><br>
    <%= f.number_field :address_id %>
  </div>
  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :mi %><br>
    <%= f.text_field :mi %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :alias %><br>
    <%= f.text_field :alias %>
  </div>
  <div class="field">
    <%= f.label :suffix %><br>
    <%= f.text_field :suffix %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :extension %><br>
    <%= f.text_field :extension %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
