<%= form_for(@guarantor) do |f| %>
  <% if @guarantor.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guarantor.errors.count, "error") %> prohibited this guarantor from being saved:</h2>

      <ul>
      <% @guarantor.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :loan_id %><br>
    <%= f.number_field :loan_id %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br>
    <%= f.number_field :entity_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
