<%= form_for(@contribution) do |f| %>
  <% if @contribution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contribution.errors.count, "error") %> prohibited this contribution from being saved:</h2>

      <ul>
      <% @contribution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :campaign_finance_info_id %><br>
    <%= f.number_field :campaign_finance_info_id %>
  </div>
  <div class="field">
    <%= f.label :contribution_type_id %><br>
    <%= f.collection_select :contribution_type_id, ContributionType.all, :id, :type %>
  </div>
First Name
  <div class="field">
  <%= f.fields_for :entities do |entity_form| %>
        <% entity_form.label :firstname, "First Name" %><br>
        <%= entity_form.text_field :firstname %><br><br>
  <% end %>
  </div>
Last Name
    <div class="field">
      <%= f.fields_for :entities do |entity_form| %>
          <% entity_form.label :lastname, "First Name" %><br>
          <%= entity_form.text_field :lastname %><br><br>
      <% end %>
    </div>

  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :isoutofstatepac %><br>
    <%= f.check_box :isoutofstatepac %>
  </div>
  <div class="field">
    <%= f.label :pacid %><br>
    <%= f.text_field :pacid %>
  </div>
  <div class="field">
    <%= f.label :istraveloutsideoftx %><br>
    <%= f.check_box :istraveloutsideoftx %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
