<p id="notice"><%= notice %></p>

<h1>Listing Travel Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Expenditure</th>
      <th>Cohpayment</th>
      <th>Contribution</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @travel_schedules.each do |travel_schedule| %>
      <tr>
        <td><%= travel_schedule.expenditure_id %></td>
        <td><%= travel_schedule.cohpayment_id %></td>
        <td><%= travel_schedule.contribution %></td>
        <td><%= link_to 'Show', travel_schedule %></td>
        <td><%= link_to 'Edit', edit_travel_schedule_path(travel_schedule) %></td>
        <td><%= link_to 'Destroy', travel_schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Travel schedule', new_travel_schedule_path %>
