<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign finance info:</strong>
  <%= @credit.campaign_finance_info_id %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @credit.entity_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @credit.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @credit.amount %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @credit.purpose %>
</p>

<p>
  <strong>Isreturnedtofiler:</strong>
  <%= @credit.isreturnedtofiler %>
</p>

<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
