<p id="notice"><%= notice %></p>

<h1>Listing Committee Notices</h1>

<table>
  <thead>
    <tr>
      <th>Committee</th>
      <th>Campaign finance info</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @committee_notices.each do |committee_notice| %>
      <tr>
        <td><%= committee_notice.committee_id %></td>
        <td><%= committee_notice.campaign_finance_info_id %></td>
        <td><%= link_to 'Show', committee_notice %></td>
        <td><%= link_to 'Edit', edit_committee_notice_path(committee_notice) %></td>
        <td><%= link_to 'Destroy', committee_notice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Committee notice', new_committee_notice_path %>
