<p id="notice"><%= notice %></p>

<p>
  <strong>Committee:</strong>
  <%= @committee_notice.committee_id %>
</p>

<p>
  <strong>Campaign finance info:</strong>
  <%= @committee_notice.campaign_finance_info_id %>
</p>

<%= link_to 'Edit', edit_committee_notice_path(@committee_notice) %> |
<%= link_to 'Back', committee_notices_path %>
