<%= form_for(@expend_category) do |f| %>
  <% if @expend_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expend_category.errors.count, "error") %> prohibited this expend_category from being saved:</h2>

      <ul>
      <% @expend_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
