<p id="notice"><%= notice %></p>

<h1>Listing Expend Categories</h1>

<table>
  <thead>
    <tr>
      <th>Category</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @expend_categories.each do |expend_category| %>
      <tr>
        <td><%= expend_category.category %></td>
        <td><%= link_to 'Show', expend_category %></td>
        <td><%= link_to 'Edit', edit_expend_category_path(expend_category) %></td>
        <td><%= link_to 'Destroy', expend_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expend category', new_expend_category_path %>
