<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign finance info:</strong>
  <%= @expenditure.campaign_finance_info_id %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @expenditure.entity_id %>
</p>

<p>
  <strong>Expend type:</strong>
  <%= @expenditure.expend_type_id %>
</p>

<p>
  <strong>Expend category:</strong>
  <%= @expenditure.expend_category_id %>
</p>

<p>
  <strong>Payment method:</strong>
  <%= @expenditure.payment_method_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @expenditure.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @expenditure.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @expenditure.description %>
</p>

<p>
  <strong>Istraveloutsideoftx:</strong>
  <%= @expenditure.istraveloutsideoftx %>
</p>

<p>
  <strong>Isaustintxlivingexpense:</strong>
  <%= @expenditure.isaustintxlivingexpense %>
</p>

<p>
  <strong>Isbenefitcoh:</strong>
  <%= @expenditure.isbenefitcoh %>
</p>

<p>
  <strong>Isreimbursementintended:</strong>
  <%= @expenditure.isreimbursementintended %>
</p>

<%= link_to 'Edit', edit_expenditure_path(@expenditure) %> |
<%= link_to 'Back', expenditures_path %>
