<p id="notice"><%= notice %></p>

<p>
  <strong>Campaign finance info:</strong>
  <%= @investment_purchase.campaign_finance_info_id %>
</p>

<p>
  <strong>Entity:</strong>
  <%= @investment_purchase.entity_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @investment_purchase.date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @investment_purchase.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @investment_purchase.description %>
</p>

<%= link_to 'Edit', edit_investment_purchase_path(@investment_purchase) %> |
<%= link_to 'Back', investment_purchases_path %>
