<p id="notice"><%= notice %></p>

<h1>Listing Filers</h1>

<table>
  <thead>
    <tr>
      <th>Filer type</th>
      <th>Address</th>
      <th>Firstname</th>
      <th>Mi</th>
      <th>Lastname</th>
      <th>Phone</th>
      <th>Ext</th>
      <th>Releasepassword</th>
      <th>Releasepasswordto</th>
      <th>Emailpasswordto</th>
      <th>Signature</th>
      <th>Office held</th>
      <th>Office sougth</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @filers.each do |filer| %>
      <tr>
        <td><%= filer.filer_type_id %></td>
        <td><%= filer.address_id %></td>
        <td><%= filer.firstname %></td>
        <td><%= filer.mi %></td>
        <td><%= filer.lastname %></td>
        <td><%= filer.phone %></td>
        <td><%= filer.ext %></td>
        <td><%= filer.releasepassword %></td>
        <td><%= filer.releasepasswordto %></td>
        <td><%= filer.emailpasswordto %></td>
        <td><%= filer.signature %></td>
        <td><%= filer.office_held_id %></td>
        <td><%= filer.office_sougth_id %></td>
        <td><%= link_to 'Show', filer %></td>
        <td><%= link_to 'Edit', edit_filer_path(filer) %></td>
        <td><%= link_to 'Destroy', filer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Filer', new_filer_path %>
