<p id="notice"><%= notice %></p>

<p>
  <strong>Filer Type:</strong>
  <%= @filer.filer_type_id %>
</p>

<p>
  <strong>Address:</strong>
  <% for address in @filer.addresses do %>
      <%= address.city %>
  <% end %>
</p>

<p>
  <strong>Firstname:</strong>
  <%= @filer.firstname %>
</p>

<p>
  <strong>Mi:</strong>
  <%= @filer.mi %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @filer.lastname %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @filer.phone %>
</p>

<p>
  <strong>Ext:</strong>
  <%= @filer.ext %>
</p>

<p>
  <strong>Releasepassword:</strong>
  <%= @filer.releasepassword %>
</p>

<p>
  <strong>Releasepasswordto:</strong>
  <%= @filer.releasepasswordto %>
</p>

<p>
  <strong>Emailpasswordto:</strong>
  <%= @filer.emailpasswordto %>
</p>

<p>
  <strong>Signature:</strong>
  <%= @filer.signature %>
</p>

<p>
  <strong>Office held:</strong>
  <%= @filer.office_held_id %>
</p>

<p>
  <strong>Office sought:</strong>
  <%= @filer.office_sought_id %>
</p>

<%= link_to 'Edit', edit_filer_path(@filer) %> |
<%= link_to 'Back', filers_path %>
