<%= form_for(@coh_payment) do |f| %>
  <% if @coh_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@coh_payment.errors.count, "error") %> prohibited this coh_payment from being saved:</h2>

      <ul>
      <% @coh_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :campaign_finance_info_id %><br>
    <%= f.number_field :campaign_finance_info_id %>
  </div>
  <div class="field">
    <%= f.label :entity_id %><br>
    <%= f.number_field :entity_id %>
  </div>
  <div class="field">
    <%= f.label :expend_category_id %><br>
    <%= f.collection_select :expend_category_id, ExpendCategory.all, :id, :category %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.text_field :amount %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :istraveloutsideoftx %><br>
    <%= f.check_box :istraveloutsideoftx %>
  </div>
  <div class="field">
    <%= f.label :isaustintxlivingexpense %><br>
    <%= f.check_box :isaustintxlivingexpense %>
  </div>
  <div class="field">
    <%= f.label :isbenefitcoh %><br>
    <%= f.check_box :isbenefitcoh %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
